header.header
  nav.nav.nav--tours
    a.nav__el(href='/projects') All Projects
  .header__logo
    img(src='/img/logo-green.png' alt='Merch-Manage logo')
  nav.nav.nav--user
    //- a.nav__el(href='#') My Projects
    //- a.nav__el(href='#') 
    //-   img.nav__user-img(src='img/logo-white.png' alt='user photo')
    //-   span Catherine
    button.nav__el Log in
    button.nav__el.nav__el--cta Sign up